<div class="center portfolio-arrow">
  <i class="fa fa-chevron-down fa-3x"></i>
</div>

<div class="row center portfolio-wrapper">
  <h1> 
    Portfolio 
  </h1>
  <hr class="intro-divider">
  
  <div class="portfolio-item">
    <%= image_tag 'dat-landscape.png' %>
    <p> 
      The Display Advertsing Technology Landscape
    </p>
  </div>

  <div class="portfolio-item">
     <%= image_tag 'dat-landscape.png' %>
     <p> 
      Display AdTech
     </p>
  </div>

  <div class="portfolio-item">
     <%= image_tag 'dat-landscape.png' %>
     <p> 
      Live It Up Social
     </p>
  </div>

  <div class="portfolio-item">

  </div>

  <div class="portfolio-item">

  </div>
  
  <div class="portfolio-item">

  </div>

</div>
