<!-- <div class="center">
  <h1> 
    Some things I've worked on.. 
  </h1>  
  <div class="portfolio-item">
    <%= image_tag 'dat-landscape.png' %>
    <p> 
      The Display Advertsing Technology Landscape
    </p>
  </div>

  <div class="portfolio-item">
     <%= image_tag 'dat-landscape.png' %>
     <p> 
      Display AdTech
     </p>
  </div>

  <div class="portfolio-item">
     <%= image_tag 'dat-landscape.png' %>
     <p> 
      Live It Up Social
     </p>
  </div>
</div> -->
