<div class="survey-wrapper">
  <div class="center survey-title">
    <h1>
      <i class="fa fa-bar-chart"></i> 
      Dashboardz Survey
    </h1>
    <hr>
  </div>

  <section class="center">
    <%= render 'questionnaires/form' %>
  </section>
</div>
