@import 'partials/global_sass';

body,
html {
  width: 100%;
  height: 100%;
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: $font-stack;
  color: $text-color;
}

/*----------------------*/
/*   Custom-BootStrap   */
/*----------------------*/

.container{
  width:  100% !important;
  height: 100% !important;
  margin:  0px !important;
  padding: 0px !important;
}

.navbar-default{
  width: 300px !important;
  margin: 0 0 0 15px !important;
  padding: 5px 0 !important;
  & a {
   padding: 15px 18px !important;
  }
}

.container-nav{
  width: 100%;
  margin: 0px auto;
}

/*---------------------*/
/*    Custom-Global    */
/*---------------------*/

.center{
  text-align: center;
  margin: 0px auto;  
}

.flat-panel{
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  transition: box-shadow 0.2s;
}