.portfolio-wrapper {
  position: relative;
  margin: 55px auto;
  padding-top: 10px;
}

.portfolio-item {
  margin: 0 auto;
  width: 820px;
}

.portfolio-item-header {
  color: #333;
  &:hover {
   color: #67e875;
   text-decoration: none;
   outline: none;
 }
}

.portfolio-item-header:focus {
  color: #67e875 !important;
  outline: none !important;
  text-decoration: none !important;
}

.portfolio-item-image {
  width: 22%;
  margin: 20px 0;
  & img {
   width: 300px;
  }
}

