<aside>
  <div class="intro-wrapper">
    <div class="intro-message">
      <%= image_tag "dave.png", :class => "dave_pic" %>
      <h3>
        Hi! I am David,<br> 
        <small>
          Web Developer | San Francisco
        </small>
      </h3>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li>
          <a href="https://twitter.com/DaveChristian87" class="btn btn-default">
            <i class="fa fa-twitter fa-fw"></i> 
            <span class="network-name">
              Twitter
            </span>
          </a>
        </li>
        <li>
          <a href="https://github.com/DWC01" class="btn btn-default">
            <i class="fa fa-github fa-fw"></i>
            <span class="network-name">
              Github
            </span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/davidwchristian/" class="btn btn-default">
            <i class="fa fa-linkedin fa-fw"></i>
            <span class="network-name">
              Linkedin
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div><!-- end intro-wrapper -->
</aside>